
html
	overflow-y unset !important
.v-application--wrap
	max-height 100vh
	.v-application--wrap
		min-height unset
.v-content.d-flex .v-content__wrap,
.container.flex
	display flex
	flex-direction column
.container.layout-padding
	padding 0
	.layout
		padding 12px

body
	font-size 16px

	.v-application
		a
			text-decoration none
		.v-icon
			background transparent
		.v-tab
			text-transform capitalize
		.v-btn--icon
			background-color transparent
		.v-list-item
			min-height 26px
		&.normal
			color inherit

.v-application .theme--light,
#app.theme--light.v-application
	background-color white

.full-width
	width 100%
	margin-left 0
	margin-right 0

.grid
	display grid

.v-responsive__content
	width auto !important

.poll-item,
.scroll-items
	.card_bottom
		padding 8px
