@font-face {
	font-family: 'Glyphter';
	src: url('~assets/style/fonts/Glyphter.woff2') format('woff2'),
		url('~assets/style/fonts/Glyphter.woff') format('woff'),
		url('~assets/style/fonts/Glyphter.ttf') format('truetype'),
		url('~assets/style/fonts/Glyphter.svg#Glyphter') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*='sqdi-']:before{
	display: inline-block;
	font-family: 'Glyphter';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.sqdi-add-user:before{content:'\0041';}
.sqdi-arrow-point-to-right:before{content:'\0042';}
.sqdi-arrow-pointing-to-left:before{content:'\0043';}
.sqdi-bar-chart:before{content:'\0044';}
.sqdi-blank-house:before{content:'\0045';}
.sqdi-camera:before{content:'\0046';}
.sqdi-chat-outlined:before{content:'\0047';}
.sqdi-close-cross:before{content:'\0048';}
.sqdi-favorite-heart-button-outline:before{content:'\0049';}
.sqdi-favorite-heart-button:before{content:'\004a';}
.sqdi-hanger:before {content:'\004b';}
.sqdi-magnifying-glass-finder:before {content:'\004c';}
.sqdi-more-2:before {content:'\004d';}
.sqdi-more:before {content:'\004e';}
.sqdi-move-to-next:before {content:'\004f';}
.sqdi-notification:before {content:'\0050';}
.sqdi-plus:before {content:'\0051';}
.sqdi-share:before {content:'\0052';}
.sqdi-shirt:before {content:'\0053';}
.sqdi-shopping-bag-2:before {content:'\0054';}
.sqdi-shopping-bag:before {content:'\0055';}
.sqdi-squadded-icon:before {content:'\0056';}
.sqdi-checkmark:before {content:'\0057';}
.sqdi-refresh:before {content:'\0058';}


/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px !important; }
}